* {
  box-sizing: border-box;
}

.App {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.logo {
  display: flex;
  align-items: flex-start;
  border-radius: 50%;
  margin-left: 10px;
}

.brand {
  margin: 1px;
}

.nav-link {
  color: #000;
}

.navlink {
  position: absolute;
  top: auto;
  outline: none;
}

.navlink.home {
  left: 10rem;
}

.navlink.about {
  left: 15rem;
}

.navlink:hover {
  opacity: 0.6;
}

.navlink:focus {
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  margin-bottom: 10px;
}

@media (min-width: 641px) {
  .navlink.home {
    left: 15rem;
  }
  .navlink.about {
    left: 20rem;
  }
}

@media (min-width: 1008px) {
  .navlink.home {
    left: 20rem;
  }
  .navlink.about {
    left: 25rem;
  }
}
