.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.logo {
  display: flex;
  align-items: flex-start;
  border-radius: 50%;
}
